name: release

on:
  workflow_run:
    workflows: ["tests"]
    types: [completed]
    branches: [main]

permissions:
  id-token: write
  contents: read

jobs:
  release:
    if: github.event.workflow_run.conclusion == 'success'
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: write
      pull-requests: write
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Install dependencies
        run: npm clean-install

      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npx semantic-release --debug

  skip-release:
    if: github.event.workflow_run.conclusion != 'success'
    runs-on: ubuntu-latest
    steps:
      - name: Skip Release
        run: |
          echo "::warning::Release workflow skipped because tests workflow did not succeed"
          echo "Tests workflow conclusion: ${{ github.event.workflow_run.conclusion }}"
          exit 0
